VITE_DATA_MODE=mock
VITE_API_URL=
VITE_API_BASE_URL=https://ministerial-yetta-fodi999-c58d8823.koyeb.app
VITE_ADMIN_STATIC_TOKEN=put_admin_jwt_here
VITE_BLOG_REVALIDATE_URL=https://dima-fomin.pl/api/revalidate
VITE_BLOG_REVALIDATE_SECRET=put_same_value_as_blog_REVALIDATE_SECRET
VITE_ALMABUILD_SITE_URL=http://localhost:3000
